:root {
  --primary-color1: #1c1c1c;
  --background--color1: #0e0a1b;
  --primary-color2: #0e0a1b;
  --background--color2: #1c1c1c;
}

#parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url("pexels-photo-building.jpg") no-repeat; */
  /* background-position: center; */
  /* background-size: cover; */
  background-color: var(--background--color2);
  width: 100%;
  font-family: monospace;
  font-size: 16px;
}
input:hover ~ label {
  font-size: 20px;
  color: cyan;
}
input:focus ~ label {
  display: none;
}
#navbar,
#participantsbar {
  color: white;
}

button {
  margin: 20px;
  font-size: 20px;
  font-family: monospace;
  border-radius: 10px;
  background-color: var(--background--color2);
  color: white;
}
button:hover {
  background: linear-gradient(to left, cyan, magenta);
  border: 2px solid;
  font-size: 25px;
}
#manager-box {
  color: white;
  margin-block: 20px;
  position: relative;
  height: 425px;
  width: 735px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
#manager-box::before {
  content: "";
  position: absolute;
  width: 890px;
  height: 890px;
  background: linear-gradient(to left, cyan 50%, magenta 50%);
  z-index: 1;
  animation: animate 10s linear infinite;
}
#manager-form {
  position: absolute;
  background: var(--primary-color2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 420px;
  width: 730px;
  overflow: hidden;
}

#seller-box {
  color: white;
  margin-block: 20px;
  position: relative;
  height: 1090px;
  width: 735px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
#seller-box::before {
  content: "";
  position: absolute;
  width: 1300px;
  height: 1300px;
  background: linear-gradient(to left, cyan 50%, magenta 50%);
  z-index: 1;
  animation: animate 10s linear infinite;
}

#seller-form {
  position: absolute;
  background: var(--primary-color2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 1085px;
  width: 730px;
  overflow: hidden;
}

#location-input,
#name-input,
#produced-input,
#contact-input,
#size-input,
#bedrooms-input,
#bathrooms-input,
#kitchens-input,
#drawingrooms-input,
#price-input,
#file-input {
  margin: 15px;
}
#location,
#produced,
#size,
#name,
#contact,
#bedrooms,
#bathrooms,
#kitchens,
#drawingrooms,
#price,
#file {
  border: none;
  font-size: 15px;
  width: 100%;
  height: 25px;
  background: transparent;
  color: white;
  border-bottom: 2px solid;
}
